/*INICIO HEADER*/
header{
    height: 68px;
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
/*Logo*/
.logo-header{
    width: 20%;
    order: 1;
}
.logo-header img{
    width: 100%;
    max-width: 120px;    
    object-fit: cover;
    padding: 0 15px;
}

/*Navegador*/
nav{
    order: 2;
    position: static;
    flex-direction: row;
}

/*Menu Hamburguesa*/
nav .menu{
    display: none;
}
/*BARRA NAVEGACIÓN*/
nav ul{    
    position: static;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav ul li{
    width: inherit;
    border-top: none;
    
}
nav ul li a{
    display: inline;
    max-width: 80px;
}
/********************************/
/*Estilos al main*/

main{
    background-image: url("img/background1800x740.png");
    background-repeat: no-repeat;
    background-size: cover;
}
main section:nth-child(1){
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.left-section{
    width: 40%;
}
.right-section{
    width: 40%;
    margin-left: 20px;
}
.right-section picture{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-section picture img{
    width: 60%;
}
.left-section h1{
    text-align: left;
}
.left-section h4{
    text-align: left;
    margin-bottom: 30px;
}
.left-section p{
    font-size: 2.2rem;
    text-align: left;
    margin-bottom: 10px;
    margin-bottom: 30px;
}
.left-section form{
    width: 80%;
    height: 90px;
    margin-bottom: 20px;
}
.left-section form label input{
    display: inline-block;
    width: 60%;
    text-align: center;

}
.left-section form button{
    display: inline-block;
    width: 30%;
    text-align: center;
    margin-left: 10px;
}

.second-section .card{
    width: 240px;
    height: 160px;
}


.third-section .card{
    width: 240px;
    height: 160px;
}

/*Inicio footer*/
footer{
    padding: 40px 40px;
}
footer picture{
    margin: 40px 0;

}
footer p:nth-child(2) {
    margin-bottom: 40px;
    line-height: 30px;
}
footer p br{
    display: block;
}