/*INICIO HEADER*/
header{
    height: 6.8rem;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
/*Logo*/
.logo-header{
    width: 20%;
    order: 1;
}
.logo-header img{
    width: 100%;
    max-width: 12rem;    
    object-fit: cover;
    padding: 0 1.5rem;
}

/*Navegador*/
nav{
    order: 2;
    position: static;
    flex-direction: row;
}

/*Menu Hamburguesa*/
nav .menu{
    display: none;
}
/*BARRA NAVEGACIÓN*/
nav ul{    
    position: static;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav ul li{
    width: inherit;
    border-top: none;
    
}
nav ul li a{
    display: inline;
    max-width: 8rem;
}