.second-section {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}    
.second-section .card{
    width: 180px;
}
.third-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}    
.third-section  .card{
    width: 180px;
}